.container {
    width: 100%;
    margin: auto;
    background-color: slategrey;

}

body {
    margin-top: 0;
    margin-left: 30px;
    margin-right: 30px;
    display: flex;
    background-image: url(backround.jpg);

}

header {
    display: flex;
    background-image: url(backround.jpg);
    height: 100px;
    text-align: center;
}

header h1 {
    display: flex;
    margin-top: 0;
    margin-right: 40rem;
}


nav {
    margin-top: 0;
    margin-left: 3rem;
    display: flex;
    text-align: center;
}

ul {
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
    text-align: center;
    margin-top: 0;
    margin-left: -3rem;
}

li {
    margin-right: 3rem;

}

li a {
    color: #00003e;
    width: 2rem;
    height: 1rem;
    display: flex;
    text-align: center;
    line-height: 100px;
    text-decoration: none;
    margin-right: 5rem;

}

li a:hover {
    color: rebeccapurple;
}

main {
    display: flex;
    text-align: center;
    height: 100%;
}

section {
    height: 700px;
    margin-bottom: 30px;
}

section h1 {
    font-family: "Wawati TC";
    margin-top: 3rem;
    margin-bottom: 3rem;
}

article p {
    margin-top: 4rem;
    margin-left: 3rem;
    margin-right: 3rem;
}
